.top_banner{
  height: 100%;
  background: url('http://demo.angelostudio.net/microstore/img/06.jpg');
  @extend %v_middle;
  color: #ffffff;
  .top_banner_innerWrapper{
    @extend %v_middle;
    text-align: center;
    .heading{
      font-size: 26px;
    }
    .sub_headig {
      font-size: 16px;
    }
    .btn_wrapper{
      margin-top: 15px;
      .browse_product{
        display: inline-block;
        line-height: 36px;
        height: 40px;
        padding: 0px 20px;
        background-color: transparent;
        color: $theme-color;
        border: 2px solid $theme-color;
        &:hover{
          background-color: $theme-color;
          color: #ffffff;
          text-decoration: none;
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
}