<!--Top banner section-->
<section class="content_wrapper" ng-controller="TopBannerCtrl">
    <section class="top_banner">
        <div class="dark_overlay">
            <div class="top_banner_innerWrapper">
                <div class="heading">
                    THE MURPHY BENCH
                </div>
                <div class="sub_headig">
                    HANDCRAFTED POUR OVER STANDS
                </div>
                <div class="btn_wrapper">
                    <a class="browse_product" ng-click="scrollTo('product_listing')">Browse Products</a>
                </div>
            </div>
        </div>
    </section>
</section>
<div ui-view></div>