<!--Header Section-->
<header class="sticky_nav" ng-controller="headerCtrl">
    <div class="site_logo" ui-sref="app.home.list">
        <!--<img src="http://straliasports.com/wp-content/uploads/2014/08/your-logo-ehre.png">-->
        <span class="logo_s">H</span><span>care</span>
    </div>
    <div class="top_nav_wrapper">
        <div class="nav_item userControl" ng-if="IsUserLogedIn">
            <md-menu>
                <md-button aria-label="Open phone interactions menu" class="md-icon-button widthauto" ng-click="$mdOpenMenu(ev)">
                    <md-icon md-menu-origin md-svg-src="img/svg/ic_account_circle_black_24px.svg"></md-icon> {{username}}
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ui-sref="app.setting.view">
                            <md-icon md-svg-src="img/svg/ic_account_circle_black_24px.svg" md-menu-align-target></md-icon>
                            User Setting
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="LogoutUser()">
                            <md-icon md-svg-src="img/svg/ic_power_settings_new_black_24px.svg"></md-icon>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <!--<a href="" class="nav_item" ui-sref="app.setting">Setting</a>-->
        <a href="" class="nav_item" ng-click="showDialog($event)" class="md-raised" ng-if="!IsUserLogedIn">Login</a>
    </div>
</header>

<div ui-view class="full_height"></div>



<!---------------------------------------------------
-------------- Login Dialog Template  ---------------
---------------------------------------------------->

<script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="Mango (Fruit)"  ng-cloak>
<form class="LoginDialog" ng-controller="AuthController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Login</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="img/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" id="mddialogcontent">
            <md-input-container class="md-icon-float md-block md-icon-left">
                <!-- Use floating label instead of placeholder -->
                <label>Username</label>
                <md-icon md-svg-src="img/svg/ic_account_circle_black_24px.svg" class="name"></md-icon>
                <input ng-model="user.name" type="text" ng-required="true">
                <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block md-icon-left">
                <!-- Use floating placeholder instead of label -->
                <md-icon md-svg-src="img/svg/ic_lock_outline_black_24px.svg" class="password"></md-icon>
                <input ng-model="user.pass" type="password" placeholder="Password" ng-required="true" my-enter="loginUser()">
                <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <div ng-messages="projectForm.clientName.$error" ng-show="isLoginFailed" class="error_message">
                {{wrongcred}}
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="loginUser()">
            Login
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>
</script>