.hcare_users_wrapper{
  height: 100%;
  position: relative;
  top: 55px;
  .top-row{
    padding: 0px 20px;
    width: 100%;
    height: 40px;
    background-color: #eee;
    .title{
      display: inline-block;
      padding-top: 8px;
    }
    .button-container{
      display: inline-block;
      float: right;
      padding-top: 6px;
    }
  }
}
.bottom_container{
  height: calc(100% - 100px);
  overflow: scroll;
  .users_list{
    width: 350px;
    height: 100%;
    display: inline-block;
    .list_wrapper{
      border-right: 1px solid #ddd;
      height: 100%;
    }
  }
  .details-container{
    width: calc(100% - 350px);
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
  }
}
.user_item{
  overflow: auto;
  position: relative;
  padding: 12px;
  background-color:#eee ;
  border-bottom: 1px solid #ddd;
  .deleteUser{
    display: none;
    position: absolute;
    right: 15px;
    top: 30px;
    color: #aaa;
    &:focus{
      outline: none;
    }
  }
  .user_thumb_img{
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 50%;
    display: inline-block;
  }
  .user_info{
    display: inline-block;
    margin-left: 15px;
  }
  &:hover{
    background: #ffffff;
    .deleteUser{
      display: inline-block;
    }
  }
  &:focus{
    outline: none;
  }
}

.user_info_wrapper{
  padding: 20px;
  .heading{
    font-size: 24px;
    color: $theme-color;
    margin-bottom: 20px;
    display: inline-block;
  }
  .edit_info{
    cursor: pointer;
    display: inline-block;
    float: right;
    border: 2px solid $theme-color;
    padding: 5px 10px;
    i.fa{
      color: $theme-color;
    }
  }
  .column{
    width: 32%;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: -4px;
    .key{
      color: #999;
      font-size: 16px;
    }
    .value{
      color: #aaaaaa;
      font-size: 14px;
    }
    &:nth-child(3n){
      margin-right: 0px;
    }
  }
}
.SaveEditDetail{
  float: right;
}