<div class="hcare_users_wrapper" ng-controller="settingController">
    <div class="top-row">
        <div class="title">USERS</div>
        <div class="button-container">
            <a class="hcare-btn-small add-user" ui-sref="app.setting.add" ng-if="isAdduser">ADD USER</a>
            <!--<a class="hcare-btn-small change-password" >Change Password</a>-->
        </div>
        <div class="clear"></div>
    </div>
    <div class="bottom_container">
        <div class="users_list">
            <div class="list_wrapper">
                 <div class="user_item" ng-repeat="user in userList track by $index" ng-click="openView(user.id)">
                    <img ng-src="{{user.image}}" class="user_thumb_img">
                    <div class="user_info">
                        <div class="user_name">{{user.username}}</div>
                        <div class="user_email">{{user.email}}</div>
                        <div class="user_role">Role : {{user.userType}}</div>
                    </div>
                    <div class="deleteUser" ng-click="deleteUser(user)" ng-if="isDeleteuser && user.userType != 'Admin'">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-container" class="spinner">
            <div ui-view class="full_height"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>