<div class="user_info_wrapper">
    <div class="column">
        <md-input-container>
            <label>User Name</label>
            <input ng-model="addUser.username" type="text" ng-required="true">
            <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
    </div>
    <div class="column">
        <md-input-container>
            <label>User Email</label>
            <input ng-model="addUser.email" type="email" ng-required="true">
            <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
    </div>
    <div class="column">
        <md-input-container>
            <label>User Password</label>
            <input ng-model="addUser.password" type="password" ng-required="true">
            <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
    </div>
    <div class="column">
        <md-input-container>
            <label>User Image Path</label>
            <input ng-model="addUser.image" type="text">
        </md-input-container>
    </div>
    <div class="column">
        <md-input-container>
            <label>User Role</label>
            <md-select ng-model="userRoles" required="true">
                <md-option ng-repeat="Role in addUserRoles" value="{{Role.role}}" ng-click="updateSelectedRole(Role.role)">
                    {{Role.role}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="action_wrapper">
        <button class="hcare-btn SaveEditDetail" type="button" ng-click="addNewUser()">Save</button>
    </div>
</div>