<div class="user_info_wrapper">
    <div>
        <div class="heading">User Detail</div>
        <div class="edit_info" ng-click="editView(CurrentUserDetail)" ng-if="isEditUserDetaileuser === true && CurrentUserDetail.userType === 'StoreKeeper'">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
    </div>
    <div class="column">
        <div class="key">User Name</div>
        <div class="value">{{CurrentUserDetail.username}}</div>
    </div>
    <div class="column">
        <div class="key">User Email</div>
        <div class="value">{{CurrentUserDetail.email}}</div>
    </div>
    <div class="column">
        <div class="key">User Role</div>
        <div class="value">{{CurrentUserDetail.userType}}</div>
    </div>
    <div class="column">
        <div class="key">User Image Path</div>
        <div class="value">{{CurrentUserDetail.image}}</div>
    </div>
</div>