<div class="user_info_wrapper">
    <div class="column">
        <md-input-container>
            <label>User Name</label>
            <input ng-model="editDetail.username" type="text" disabled>
        </md-input-container>
    </div>
    <div class="column">
        <md-input-container>
            <label>User Email</label>
            <input ng-model="editDetail.email" type="email">
        </md-input-container>
    </div>
    <div class="column">
        <md-input-container>
            <label>User Password</label>
            <input ng-model="editDetail.password" type="text">
        </md-input-container>
    </div>
    <div class="column">
        <md-input-container>
            <label>User Role</label>
            <input ng-model="editDetail.userType" type="text" disabled>
        </md-input-container>
    </div>

    <div class="action_wrapper">
        <button class="hcare-btn SaveEditDetail" type="button" ng-click="saveUserChanges()">Save</button>
    </div>
</div>