.product_listing_wrapper{
  width: 96%;
  margin: 0 auto;
  margin-top: 20px;
}
.listing_header{
  display: inline-block;
  font-size: 26px;
  font-weight: 500;
  color: $theme-color;
}
.action_container{
  display: inline-block;
  float: right;
}
.product_list{
  margin: 20px 0px;
  font-size: 0;
  .product_item{
    display: inline-block;
    position: relative;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    &:nth-child(3n){
      margin-right: 0%;
    }
    .item_thumb{
      position: relative;
      height: 250px;
      img{
        width: 100%;
        height: 100%;
      }
      &:nth-child(3n){
        margin-right: 0%;
      }
      .view_product{
        display: none;
      }
      &:hover{
        .view_product{
          display: inline-block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          background: transparentize($theme-color,0.3);
          .fa-eye{
            color: #ffffff;
            @extend %v_middle;
          }
        }
      }
    }
    .product_description{
      font-size: 0;
      .item_name{
        display: inline-block;
        width: 70%;
        font-size: 14px;
        color: #aaaaaa;
      }
      .item_price{
        display: inline-block;
        width: 30%;
        color: $theme-color;
        font-size: 18px;
        text-align: right;
      }
      .add_to_cart_btn{
        display: inline-block;
        line-height: 39px;
        height: 45px;
        padding: 0px 20px;
        background-color: transparent;
        color: $theme-color;
        border: 2px solid $theme-color;
        width: 100%;
        margin-top: 15px;
        font-size: 16px;
        text-align: center;
        &:hover{
          background-color: $theme-color;
          color: #ffffff;
          text-decoration: none;
        }
        &:focus{
          outline: none;
        }
      }
      .extra_operation{
        .deleteItem,.ApproveItem{
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}