<!--Product List Section-->
<section class="product_listing_wrapper" id="product_listing" ng-controller="ProdoctListCtrl">
    <div class="listing_inner_wrapper">
        <div class="listing_header">
            Product List
        </div>
        <div class="action_container">
            <button class="add_product hcare-btn" ng-click="openAddProductDialog($event)" ng-if="isAddProduct">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Product
            </button>
        </div>
        <div class="product_list">
            <div class="product_item" ng-repeat="item in ProductList" ng-if="(item.isApproved === false && userType === 'Manager') || (userType === 'Admin') || (userType === 'StoreKeeper') || (item.isApproved === false && userType === null)">
                <div class="item_thumb">
                    <img src="http://demo.angelostudio.net/microstore/img/product1.jpg">
                    <a href="" class="view_product">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="product_description">
                    <span class="item_name">{{item.Name}}</span>
                    <span class="item_price">Rs {{item.Price}}</span>
                    <a type="button" class="add_to_cart_btn" ng-if="isAddtocart">Add To Cart!</a>
                    <div class="extra_operation">
                        <button type="button" class="hcare-btn deleteItem" ng-if="isDeleteItem" ng-click="deleteProductItem(item.Id)">Delete Item</button>
                        <button type="button" class="hcare-btn ApproveItem" ng-if="isApproveItem" ng-click="approveProductItem(item.Id)">Approve Item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!---------------------------------------------------
-------------- Add Prooduct Template  ---------------
---------------------------------------------------->

<script type="text/ng-template" id="addProduct.html"><md-dialog ng-cloak>
<form class="LoginDialog" ng-controller="addProductController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Product</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="img/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" id="mddialogcontent">
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Name</label>
                <input ng-model="addProduct.Name" type="text" ng-required="true">
                <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Price</label>
                <input ng-model="addProduct.Price" type="text" ng-required="true">
                <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Image</label>
                <input ng-model="addProduct.Image" type="text">
            </md-input-container>
            <div ng-messages="projectForm.clientName.$error" ng-show="isaddProductError" class="error_message">
                {{wrongcred}}
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="addProductItem()">
            Save
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>
</script>