/* line 1, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
.top_banner, .top_banner .top_banner_innerWrapper, .product_list .product_item .item_thumb:hover .view_product .fa-eye {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/* line 6, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
.dark_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%; }

/* line 11, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
md-dialog {
  opacity: 1; }

/* line 14, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
.LoginDialog {
  width: 650px; }
  /* line 16, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
  .LoginDialog .error_message {
    color: #FF0000; }

/* line 20, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
.full_height {
  height: 100%; }

/* line 24, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
.hcare-btn {
  display: inline-block;
  line-height: 36px;
  cursor: pointer;
  height: 40px;
  padding: 0px 20px;
  background-color: transparent;
  color: #23A657;
  border: 2px solid #23A657; }
  /* line 33, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
  .hcare-btn:hover {
    background-color: #23A657;
    color: #ffffff;
    text-decoration: none; }
  /* line 38, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
  .hcare-btn:focus {
    outline: none; }

/* line 42, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
.hcare-btn-small {
  display: inline-block;
  line-height: 22px;
  cursor: pointer;
  height: 26px;
  padding: 0px 20px;
  background-color: transparent;
  color: #23A657;
  border: 2px solid #23A657;
  font-size: 14px; }
  /* line 52, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
  .hcare-btn-small:hover {
    background-color: #23A657;
    color: #ffffff;
    text-decoration: none; }
  /* line 57, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
  .hcare-btn-small:focus {
    outline: none; }

/* line 62, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_common.scss */
md-toolbar {
  background-color: #23A657 !important; }

/* line 3, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
header.sticky_nav {
  padding: 0px 20px;
  background: #333;
  color: #fff;
  display: block;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 1; }
  /* line 12, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
  header.sticky_nav svg {
    fill: #ffffff; }
  /* line 15, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
  header.sticky_nav .site_logo {
    display: inline-block;
    float: left;
    height: 55px;
    line-height: 55px;
    font-size: 20px; }
    /* line 21, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
    header.sticky_nav .site_logo .logo_s {
      color: #23A657;
      font-size: 28px; }
    /* line 25, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
    header.sticky_nav .site_logo .logo_m {
      bottom: 4px;
      position: relative; }
    /* line 29, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
    header.sticky_nav .site_logo img {
      width: 100px;
      height: 55px; }
  /* line 34, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
  header.sticky_nav .top_nav_wrapper {
    height: 55px;
    display: inline-block;
    float: right;
    color: #ffffff;
    padding-top: 16px; }
    /* line 40, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
    header.sticky_nav .top_nav_wrapper .nav_item {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      margin-right: 15px;
      font-weight: 500;
      text-transform: uppercase; }
      /* line 47, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
      header.sticky_nav .top_nav_wrapper .nav_item:focus {
        outline: none; }
      /* line 50, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
      header.sticky_nav .top_nav_wrapper .nav_item.userControl {
        margin-top: -8px; }
  /* line 56, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
  header.sticky_nav md-menu .widthauto {
    width: auto; }
  /* line 60, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/_header.scss */
  header.sticky_nav .hcare_menu_open {
    top: 50px !important;
    right: 20px !important;
    position: absolute !important;
    z-index: 2; }

/* line 1, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/topBanner/_top_banner.scss */
.top_banner {
  height: 100%;
  background: url("http://demo.angelostudio.net/microstore/img/06.jpg");
  color: #ffffff; }
  /* line 6, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/topBanner/_top_banner.scss */
  .top_banner .top_banner_innerWrapper {
    text-align: center; }
    /* line 9, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/topBanner/_top_banner.scss */
    .top_banner .top_banner_innerWrapper .heading {
      font-size: 26px; }
    /* line 12, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/topBanner/_top_banner.scss */
    .top_banner .top_banner_innerWrapper .sub_headig {
      font-size: 16px; }
    /* line 15, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/topBanner/_top_banner.scss */
    .top_banner .top_banner_innerWrapper .btn_wrapper {
      margin-top: 15px; }
      /* line 17, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/topBanner/_top_banner.scss */
      .top_banner .top_banner_innerWrapper .btn_wrapper .browse_product {
        display: inline-block;
        line-height: 36px;
        height: 40px;
        padding: 0px 20px;
        background-color: transparent;
        color: #23A657;
        border: 2px solid #23A657; }
        /* line 25, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/topBanner/_top_banner.scss */
        .top_banner .top_banner_innerWrapper .btn_wrapper .browse_product:hover {
          background-color: #23A657;
          color: #ffffff;
          text-decoration: none; }
        /* line 30, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/topBanner/_top_banner.scss */
        .top_banner .top_banner_innerWrapper .btn_wrapper .browse_product:focus {
          outline: none; }

/* line 1, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
.product_listing_wrapper {
  width: 96%;
  margin: 0 auto;
  margin-top: 20px; }

/* line 6, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
.listing_header {
  display: inline-block;
  font-size: 26px;
  font-weight: 500;
  color: #23A657; }

/* line 12, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
.action_container {
  display: inline-block;
  float: right; }

/* line 16, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
.product_list {
  margin: 20px 0px;
  font-size: 0; }
  /* line 19, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
  .product_list .product_item {
    display: inline-block;
    position: relative;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%; }
    /* line 25, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
    .product_list .product_item:nth-child(3n) {
      margin-right: 0%; }
    /* line 28, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
    .product_list .product_item .item_thumb {
      position: relative;
      height: 250px; }
      /* line 31, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
      .product_list .product_item .item_thumb img {
        width: 100%;
        height: 100%; }
      /* line 35, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
      .product_list .product_item .item_thumb:nth-child(3n) {
        margin-right: 0%; }
      /* line 38, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
      .product_list .product_item .item_thumb .view_product {
        display: none; }
      /* line 42, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
      .product_list .product_item .item_thumb:hover .view_product {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: rgba(35, 166, 87, 0.7); }
        /* line 50, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
        .product_list .product_item .item_thumb:hover .view_product .fa-eye {
          color: #ffffff; }
    /* line 57, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
    .product_list .product_item .product_description {
      font-size: 0; }
      /* line 59, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
      .product_list .product_item .product_description .item_name {
        display: inline-block;
        width: 70%;
        font-size: 14px;
        color: #aaaaaa; }
      /* line 65, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
      .product_list .product_item .product_description .item_price {
        display: inline-block;
        width: 30%;
        color: #23A657;
        font-size: 18px;
        text-align: right; }
      /* line 72, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
      .product_list .product_item .product_description .add_to_cart_btn {
        display: inline-block;
        line-height: 39px;
        height: 45px;
        padding: 0px 20px;
        background-color: transparent;
        color: #23A657;
        border: 2px solid #23A657;
        width: 100%;
        margin-top: 15px;
        font-size: 16px;
        text-align: center; }
        /* line 84, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
        .product_list .product_item .product_description .add_to_cart_btn:hover {
          background-color: #23A657;
          color: #ffffff;
          text-decoration: none; }
        /* line 89, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
        .product_list .product_item .product_description .add_to_cart_btn:focus {
          outline: none; }
      /* line 94, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/productList/_poroductList.scss */
      .product_list .product_item .product_description .extra_operation .deleteItem, .product_list .product_item .product_description .extra_operation .ApproveItem {
        font-size: 14px;
        width: 100%; }

/* line 1, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
.hcare_users_wrapper {
  height: 100%;
  position: relative;
  top: 55px; }
  /* line 5, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .hcare_users_wrapper .top-row {
    padding: 0px 20px;
    width: 100%;
    height: 40px;
    background-color: #eee; }
    /* line 10, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
    .hcare_users_wrapper .top-row .title {
      display: inline-block;
      padding-top: 8px; }
    /* line 14, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
    .hcare_users_wrapper .top-row .button-container {
      display: inline-block;
      float: right;
      padding-top: 6px; }

/* line 21, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
.bottom_container {
  height: calc(100% - 100px);
  overflow: scroll; }
  /* line 24, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .bottom_container .users_list {
    width: 350px;
    height: 100%;
    display: inline-block; }
    /* line 28, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
    .bottom_container .users_list .list_wrapper {
      border-right: 1px solid #ddd;
      height: 100%; }
  /* line 33, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .bottom_container .details-container {
    width: calc(100% - 350px);
    display: inline-block;
    margin-left: -5px;
    vertical-align: top; }

/* line 40, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
.user_item {
  overflow: auto;
  position: relative;
  padding: 12px;
  background-color: #eee;
  border-bottom: 1px solid #ddd; }
  /* line 46, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .user_item .deleteUser {
    display: none;
    position: absolute;
    right: 15px;
    top: 30px;
    color: #aaa; }
    /* line 52, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
    .user_item .deleteUser:focus {
      outline: none; }
  /* line 56, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .user_item .user_thumb_img {
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 50%;
    display: inline-block; }
  /* line 63, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .user_item .user_info {
    display: inline-block;
    margin-left: 15px; }
  /* line 67, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .user_item:hover {
    background: #ffffff; }
    /* line 69, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
    .user_item:hover .deleteUser {
      display: inline-block; }
  /* line 73, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .user_item:focus {
    outline: none; }

/* line 78, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
.user_info_wrapper {
  padding: 20px; }
  /* line 80, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .user_info_wrapper .heading {
    font-size: 24px;
    color: #23A657;
    margin-bottom: 20px;
    display: inline-block; }
  /* line 86, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .user_info_wrapper .edit_info {
    cursor: pointer;
    display: inline-block;
    float: right;
    border: 2px solid #23A657;
    padding: 5px 10px; }
    /* line 92, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
    .user_info_wrapper .edit_info i.fa {
      color: #23A657; }
  /* line 96, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
  .user_info_wrapper .column {
    width: 32%;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: -4px; }
    /* line 102, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
    .user_info_wrapper .column .key {
      color: #999;
      font-size: 16px; }
    /* line 106, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
    .user_info_wrapper .column .value {
      color: #aaaaaa;
      font-size: 14px; }
    /* line 110, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
    .user_info_wrapper .column:nth-child(3n) {
      margin-right: 0px; }

/* line 115, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/modules/setting/_setting.scss */
.SaveEditDetail {
  float: right; }

/* line 11, /Users/sahil/Documents/Banababandy Task/Angular JS Task/Boilerplate-Project/src/scss/main.scss */
html, body, .content_wrapper, .app_wrapper {
  height: 100%; }
