/*******************************
  File : Common.scss
  Author : Sahil Gupta
  Website : http://techhysahil.com/
*******************************/

html,body,.content_wrapper,.app_wrapper{
  height: 100%;
}
.full_height{
  height: 100%;
}
%v_middle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

//Standard Buttons
.hcare-btn{
  display: inline-block;
  line-height: 36px;
  cursor: pointer;
  height: 40px;
  padding: 0px 20px;
  background-color: transparent;
  color: $theme-color;
  border: 2px solid $theme-color;
  &:hover{
    background-color: $theme-color;
    color: #ffffff;
    text-decoration: none;
  }
  &:focus{
    outline: none;
  }
}
.hcare-btn-small{
  display: inline-block;
  line-height: 22px;
  cursor: pointer;
  height: 26px;
  padding: 0px 20px;
  background-color: transparent;
  color: $theme-color;
  border: 2px solid $theme-color;
  font-size: 14px;
  &:hover{
    background-color: $theme-color;
    color: #ffffff;
    text-decoration: none;
  }
  &:focus{
    outline: none;
  }
}

//Popup style override
.dark_overlay{
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
}
md-dialog{
  opacity: 1;
}
.LoginDialog{
  width: 650px;
  .error_message{
    color: #FF0000;
  }
}
md-toolbar{
  background-color: $theme-color !important;
}
