/*******************************
  File : Header.scss
  Author : Sahil Gupta
  Website : http://techhysahil.com/
*******************************/
header.sticky_nav{
  padding: 0px 20px;
  background: #333;
  color: #fff;
  display: block;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 1;
  svg{
    fill: #ffffff;
  }
  .site_logo{
    display: inline-block;
    float: left;
    height: $header-height;
    line-height: $header-height;
    font-size: 20px;
    .logo_s{
      color: $theme-color;
      font-size: 28px;
    }
    .logo_m{
      bottom: 4px;
      position: relative;
    }
    img{
      width: 100px;
      height: $header-height;
    }
  }
  .top_nav_wrapper{
    height: $header-height;
    display: inline-block;
    float: right;
    color: #ffffff;
    padding-top: 16px;
    .nav_item{
      color: #fff;
      text-decoration: none;
      display: inline-block;
      margin-right: 15px;
      font-weight: 500;
      text-transform: uppercase;
      &:focus{
        outline: none;
      }
      &.userControl{
        margin-top:-8px;
      }
    }
  }
  md-menu{
    .widthauto{
      width: auto;
    }
  }
  .hcare_menu_open{
    top: 50px !important;
    right: 20px !important;
    position: absolute !important;
    z-index: 2;
  }
}